fieldset{
    width: 600px;
    text-align: center;
    margin-left: 350px;
    margin-top: 100px;
    border-radius: 10px;
}
form{
    padding: 20px 20px 20px 20px;
}
input{
    padding: 10px;    
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
body{
    background-image: url(./background_picture/image_3.jpg);
}
form{
    color: #fff;
}
legend{
    color: #fff;
}
button{
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    letter-spacing: 2px;
}